.app {
  text-align: center;
  background-color: #eceeee;
  height: 100vh;
}

.tl-container {
  display: flex;
  flex-grow: 1;
  margin: 0 12.5px 0 12.5px; 
}

.tasklist {
  /* border-style: solid; */
  margin: 25px 12.5px 0px 12.5px;
  width: 100%;
  text-align: center;
}

.name-container {
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
}

.singletask {
  display: flex;
  margin-top: 5px;
  background-color: white;
}

.tasktext {
  margin: 0 5px 0 5px;
}
